<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="fcmd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="fcmd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <fcmd.Properties.Settings>
            <setting name="ShowFileInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDiskList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHidedFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiskBarContent" serializeAs="String">
                <value>{Disks}</value>
            </setting>
            <setting name="InfoBarContent" serializeAs="String">
                <value>{Name} {AutoSize}; обновлено {LongDate}</value>
            </setting>
            <setting name="ShowKeybrdHelp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPanelUrlbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPanelTableCaptions" serializeAs="String">
                <value>True</value>
            </setting>
        </fcmd.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <fcmd.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>(internal)rus</value>
            </setting>
        </fcmd.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
