<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="fcmd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
 </configSections>
	<userSettings>
		<fcmd.Properties.Settings>
   <setting name="ShowFileInfo" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowDiskList" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Language" serializeAs="String">
    <value>(internal)ru_RU</value>
   </setting>
   <setting name="ShowHidedFiles" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DiskBarContent" serializeAs="String">
    <value>{Disks}</value>
   </setting>
   <setting name="InfoBarContent1" serializeAs="String">
    <value>{FullName} {AutoSize} {Date} {Time}</value>
   </setting>
   <setting name="ShowKeybrdHelp" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowPanelUrlbox" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowPanelTableCaptions" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseExternalViewer" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExternalViewer" serializeAs="String">
    <value />
   </setting>
   <setting name="UseExternalEditor" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExternalEditor" serializeAs="String">
    <value />
   </setting>
   <setting name="Panel1URL" serializeAs="String">
    <value />
   </setting>
   <setting name="Panel2URL" serializeAs="String">
    <value />
   </setting>
   <setting name="LastActivePanel" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SizeShorteningPolicy" serializeAs="String">
    <value>222</value>
   </setting>
   <setting name="BookmarksFile" serializeAs="String">
    <value />
   </setting>
   <setting name="WinHeight" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="WinWidth" serializeAs="String">
    <value>750</value>
   </setting>
   <setting name="VE_ShowToolbar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="VE_ShowCmdBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="InfoBarContent2" serializeAs="String">
    <value>Выделено: {SelectedItems}</value>
   </setting>
   <setting name="VEWinHeight" serializeAs="String">
    <value>350</value>
   </setting>
   <setting name="VEWinWidth" serializeAs="String">
    <value>350</value>
   </setting>
   <setting name="UserTheme" serializeAs="String">
    <value />
   </setting>
  </fcmd.Properties.Settings>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
